*{
    padding: 0;
}
body{
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)), url(../img/bigstock-Mother-With-Teenage-Son-Sittin-92340605-1024x683.jpg);
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
    box-sizing: border-box;
}
body .few{
position: absolute;
        top: 470px;
        left:50%;

        text-align: left;
        transform: translate(-50%,-50%);
        text-align: center;
     background:linear-gradient(to bottom,rgba(0, 0, 0,0.5),rgba(0, 0, 0, 0.9)), url(../img/bigstock-Mother-With-Teenage-Son-Sittin-92340605-1024x683.jpg);
        background-size: cover;
        border-radius: 25px;
        box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
        transition: 1s all;
        animation-duration: 5s;
        animation-name: slidein;
        }
@keyframes slidein {
    from{margin-left: 100px;
        width: 300%};
        to {
            margin-left: 0%;
            width: 100%;
        }
    }

h1{
    color: white;
    font-weight: bold;
    font-size: 30p;
}
.countries{
    padding: 4px;
    font-size: 20px;
}
.countries label{
    padding: 4px;
    margin: 20px ;
   color: white;
   font-size: 23px;
   letter-spacing: 1px;
   justify-content: left
}

input[type=number]{
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
}
input[type=button]{
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    font-size: 16px;
    background-color:#E27396 ;
    border:none;
    color: white;
}
#europe,#america,#kenya,#Ghana,#libya,#mauritan{
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    margin-left:6px;
        
}
.anything{
    text-align: left  !important;
    margin-left: -80px !important;
}
@media screen and (max-width:480px){


    body{
        background:linear-gradient(to bottom,rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)), url(../img/bigstock-Mother-With-Teenage-Son-Sittin-92340605-1024x683.jpg);
        background-size: cover;
        height: 100vh;
        width: 100vw;
        box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
        box-sizing: border-box;
    }
    .anything{
        
        margin-left: 20px !important;
    }
    body .few{
        width: 800px;
        max-width: 80%;
        text-align: left;
        margin-top: -120px;
        background:linear-gradient(to bottom,rgba(0, 0, 0,0.5),rgba(0, 0, 0, 0.9)), url(../img/bigstock-Mother-With-Teenage-Son-Sittin-92340605-1024x683.jpg);
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
        transition: 1s all;
        animation-duration: 5s;
        animation-name: slidein;
                }
    @keyframes slidein {
        from{margin-left: 100px;
        width: 300%};
        to {
        margin-left: 0%;
        width: 100%;
            }
        }
    h1{
        color: white;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    
    
        }
        
    .countries label{
        color: white;
        font-size: 18px;

         }
    .label-class{
    
        color: white;
        font-size: 18px;
            
        }
    input[type=number]{
       width: 30%;
        padding: 3px;
        border-radius: 3px;
    
        
                
            }
        input[type=button]{
        width: 20%;    
        padding: 4px;
        border-radius: 3px;
        font-size: 13px;
        background-color:#E27396 ;
        border:none;
         color: white;
            }
        #europe,#america,#kenya,#Ghana,#libya,#mauritan{
        width: 30%;
        padding: 3px;
        border-radius: 1px;
        margin-left: 6px;
        
    }

                
 }
}